.contentContainer {
    width: 90%;
    margin: auto;
    display: flex;
}

.button1 {
<<<<<<< HEAD
    background-color: rgb(255, 255, 255);
    font-size: large;
    border: none;
    padding: 20px 80px;
    border-radius: 6px;
=======
    background-color: pink; 
    color: white;
    font-size: 20px;
    border: none;
    padding: 30px 90px;
    border-radius: 10px;
>>>>>>> 2cf63d4ade83bcd86bdc24c223c99ac253b3dda1
    cursor: pointer;
    margin-right: 5px;
}

.button1:hover {
<<<<<<< HEAD
    background-color: rgb(129, 129, 129);
    color: rgb(0, 0, 0);
}


.button2 {
    background-color: darkblue;
    color: rgb(255, 255, 255);
    font-size: large;
    border: none;
    padding: 20px 80px;
    border-radius: 6px;
=======
    background-color: white;
    color: pink;
    border: 2px solid pink;
}

.button2 {
    background-color: white; 
    color: pink;
    font-size: 20px;
    border: none;
    padding: 30px 90px;
    border-radius: 10px;
>>>>>>> 2cf63d4ade83bcd86bdc24c223c99ac253b3dda1
    cursor: pointer;
    margin-right: 5px;
}

<<<<<<< HEAD
.button2:hover {
    background-color: rgb(0, 0, 0);
    color: #ddd;
}

.text1 {
    font-size: 60px;
    color: white;
    padding-top: 10%;
}

.text2 {
    font-size: 30px;
    color: white;
=======
.text1 {
    font-size: 32px;
}

.text2 {
    font-size: 24px;
>>>>>>> 2cf63d4ade83bcd86bdc24c223c99ac253b3dda1
}

.info {
    flex: 1;
<<<<<<< HEAD
    padding-top: 1%;
=======
    padding-top: 10%;
>>>>>>> 2cf63d4ade83bcd86bdc24c223c99ac253b3dda1
}

.image {
    flex: 1;
<<<<<<< HEAD
    padding-top: 5%;
    padding-left: 5%;
=======
>>>>>>> 2cf63d4ade83bcd86bdc24c223c99ac253b3dda1
}

@media screen and (max-width: 899px) {
    .contentContainer {
        flex-direction: column;
    }
<<<<<<< HEAD
    
=======
>>>>>>> 2cf63d4ade83bcd86bdc24c223c99ac253b3dda1
}