.navbarContainer {
    display: flex; 
    width: 90%; 
    margin: auto;
}

.navbarIcon {
    flex: 1;
<<<<<<< HEAD
    display: none;
=======
    display: none; 
>>>>>>> 2cf63d4ade83bcd86bdc24c223c99ac253b3dda1
    align-items: center;
    justify-content: flex-end;
}

.logo {
    color: white;
    flex: 0.7;
    font-size: 25px;
}

.menu {
    display: flex; 
<<<<<<< HEAD
    flex: 2;
    font-size: 22px;
=======
    flex: 1;
    font-size: 18px;
>>>>>>> 2cf63d4ade83bcd86bdc24c223c99ac253b3dda1
}

.menuItem {
    color: white;
    display: flex; 
    flex: 1; 
    align-items: center;
<<<<<<< HEAD
=======
    justify-content: center;
>>>>>>> 2cf63d4ade83bcd86bdc24c223c99ac253b3dda1
    cursor: pointer;
}

.menuItem:hover {
<<<<<<< HEAD
    color: rgb(0, 0, 0);
=======
    color: white;
>>>>>>> 2cf63d4ade83bcd86bdc24c223c99ac253b3dda1
}

.button {
    flex: 1; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
}



.loginButtonStyle {
    background-color: white; 
    border: none;
    padding: 15px 65px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}



.loginButtonStyle:hover {
    background-color: #ddd;
}

.getStartButtonStyle {
    background-color: darkblue; 
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px 65px;
    border-radius: 5px;
    cursor: pointer;
}

.getStartButtonStyle:hover {
<<<<<<< HEAD
    background-color: #000000;
    color: rgb(255, 255, 255);
}

/* mobile device */
@media screen and (max-widh: 599px){
    .menu {
        display: none;
        font-size: 18px;
    }
    
}

/* ipad or macbook */
@media screen and (max-width: 899px){
    .menu {
        display: none;
        font-size: 18px;
=======
    background-color: #ddd;
    color: black;
}

/* mobile device */
@media screen and (max-width: 599px) {

}

/* ipad or macbook */
@media screen and (max-width: 899px) {
    .menu {
        display: none;
>>>>>>> 2cf63d4ade83bcd86bdc24c223c99ac253b3dda1
    }

    .button {
        display: none;
    }

    .navbarIcon {
        display: flex;
    }
}

/* notebook or desktop */
<<<<<<< HEAD
@media screen and (max-widh: 1200px){
    .menu {
        display: none;
    }
    
=======
@media screen and (max-width: 1200px) {

>>>>>>> 2cf63d4ade83bcd86bdc24c223c99ac253b3dda1
}